################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnScreenKeyboard/.vs/OnScreenKeyboard
/OnScreenKeyboard/OnScreenKeyboard/Properties/launchSettings.json
