@{
    ViewBag.Title = "TrueFit - On Screen Keyboard";
}

<div ng-app="app">
    <h1>TrueFit - On Screen Keyboard Solution</h1>
    <h2>Derek Fredrickson</h2>
    
    <p class="lead instruction-label">Please include the alphabet and search terms below.</p>

    <on-screen-keyboard></on-screen-keyboard>
</div>