<div class="btn-group" role="group">
    <button id="selectKeyboardLayouts" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Keyboard Layout
    </button> 
    <div class="dropdown-menu" aria-labelledby="selectKeyboardLayouts">
        <button class="dropdown-item" ng-click="vm.populateKeyboardLayout('Alphabetical English')">Alphabetical English</button>
        <button class="dropdown-item" ng-click="vm.populateKeyboardLayout('QWERTY English')">QWERTY English</button>
        <button class="dropdown-item" ng-click="vm.populateKeyboardLayout('Custom')">Custom...</button>
    </div>
</div>

<h4 ng-show="vm.selectedKeyboardLayout == 'Custom'"><small>Note: Custom keyboards should not include lowercase letters.</small></h4>

<div class="user-inputs form-group">
    <div class="col-md-6">
        <label>Keyboard Layout ({{vm.selectedKeyboardLayout}}):</label>
        <textarea class="user-input form-control" rows="5" ng-disabled="vm.keyboardLayoutDisabled" ng-model="vm.keyboardLayout"></textarea>
    </div>
    <div class="col-md-6">
        <label>Search Terms:</label>
        <textarea class="user-input form-control" rows="5" ng-model="vm.searchTerms" placeholder="{{vm.searchTermsPlaceholder}}"></textarea>
    </div>
</div>

<div>
    <button type="button" class="btn" ng-click="vm.determineResults()">Submit</button>
    <button type="button" class="btn" ng-click="vm.clearEntries()">Clear</button>
</div>

<div class="results">
    <label>Results:</label>
    {{vm.results}}
</div>

<p ng-show="vm.isVisibleErrorMessage" class="text-danger">{{vm.errorMessage}}</p>